* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Spotify black background */
}

.split-layout {
    display: flex;
    width: 80%; /* Adjust the width of the overall layout */
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    gap: 1px; /* Set the gap between the image and the login box */
}

.left-container,
.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure elements in the container are vertically centered */
}

.left-container {
    flex: 1;
    padding-right: 10px; /* Add some spacing between containers */
}

.right-container {
    flex: 1;
    padding-left: 10px; /* Add some spacing between containers */
}

.responsive-image {
    max-width: 100%;
    max-height: 70vh; /* Set the maximum height to avoid oversized images */
    width: auto;
    height: auto;
}

.spotify-logo {
    width: 150px; /* Adjust the width of the logo */
    position: absolute; /* Use absolute positioning */
    top: 20px; /* Set the distance of the logo from the top */
    left: 20px; /* Set the distance of the logo from the left */
}

.login-box {
    text-align: center;
    padding: 80px; /* Adjust the padding of the login box */
    color: #fff; /* Set the text color to white */
    width: 90%; /* Set the width of the login box to 90% of the page width */
    max-width: 600px; /* Set the maximum width of the login box */
    background-color: rgba(0, 0, 0, 0.7); /* Set the background color of the login box */
    border-radius: 10px; /* Set the border-radius of the login box */
    line-height: 1.5; /* Increase the line height of the text */
}

.login-box h2 {
    margin-bottom: 10px; /* Add bottom margin to the title */
}

.login-box p {
    margin-top: 10px; /* Add top margin to the paragraph */
    font-size: 10px; /* Set smaller font size for the text */
}

.input-container {
    margin: 1em 0;
    color: #fff; /* Set text color to white */
}

.login-button {
    background-color: #1DB954; /* Spotify green */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px; /* Decrease button padding */
    cursor: pointer;
    width: 100%; /* Full width of the parent */
    font-size: 14px; /* Decrease button font size */
}

.login-button:hover {
    background-color: #1ed760; /* Lighter green on hover */
}
