<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2> Welcome admin! Please login:</h2>
    <form id="admin-login-input">
        <label for="admin-name">Admin Username: </label>
        <input id="admin-name" type="text" placeholder="Enter Admin Username" autocomplete="off" required>
        <label for="admin-password">Admin Password: </label>
        <input id="admin-password" type="password" autocomplete="off" required>
        <button type="submit">Login</button>
    </form>
<script src="/static/adminauth.js"></script>
</body>
</html>