<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Modification</title>
    <link rel="stylesheet" type="text/css" href="/static/modifydb.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">HomePage</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="top-half">
        <img src="/static/image/login_image.png" alt="Listening to Music" class="centered-image">
        <img src="/static/image/login_image1.png" alt="Spotify Logo" id="spotify-logo" />
        You are all good, modify the database as you like!
        <div id="modify-choice">
            <button id="modify-insert" onclick="insertData()">Insert</button>
            <button id="modify-modify" onclick="modifyData()">Modify</button>
            <button id="modify-delete" onclick="deleteData()">Delete</button>
        </div>
    </div>



    <div id="insert-data">
        <div id="insert-choice" style="display: none;">
            <form id="insert-choice-form">
                <label for="insert-select">Please indicate what you want to insert:</label>
                <!--  multiple onchange="updateOptions()" -->
                <select id="insert-select">
                    <option value="song">Song</option>
                    <option value="video">Video</option>
                    <option value="lyrics">Lyrics</option>
                </select>
                <div class="form-buttons">
                    <button type="submit">Confirm</button>
                    <button type="reset">Cancel</button>
                </div>
            </form>
        </div>

        <div id="insert-form" style="display: none;">
            <form id="insert-filter-input">
                <div id="insert-song-query" style="display: none;">
                    <fieldset>
                        <legend>Song Query</legend>
                        <label for="song-name">Song Name:</label>
                        <input id="song-name" type="text">
                        <label for="song-artist">Primary Artist Name:</label>
                        <input id="song-artist" type="text">
                    </fieldset>
                    <button type="submit">Search</button>
                    <button type="reset">Cancel</button>
                </div>
            </form>
            <div id="insert-filter-result">

            </div>
            <form id="insert-form-input">
                <div id="insert-song-field" style="display: none;">
                    <fieldset>
                        <legend>Song Insert</legend>
                        <label for="spotify-key">Enter your spotify accessKey:</label>
                        <input id="spotify-key" type="text">
                        <label for="insert-song">Enter your spotify query:</label>
                        <input id="insert-song" type="text">
                    </fieldset>
                </div>

                <div id="insert-video-field" style="display: none;">
                    <fieldset>
                        <legend>Video Insert</legend>
                        <label for="youtube-key">Enter your youtube accessKey:</label>
                        <input id="youtube-key" type="text">
                        <label for="insert-video">Enter your youtube query:</label>
                        <input id="insert-video" type="text">
                    </fieldset>
                </div>

                <div id="insert-lyrics-field" style="display: none;">
                    <fieldset>
                        <legend>Lyrics Insert</legend>
                        <div>
                            <label for="genius-key">Enter your Genius accessKey:</label>
                            <input id="genius-key" type="text">
                            <label for="insert-lyrics">Enter your Genius query</label>
                            <input id="insert-lyrics" type="text">
                        </div>
                    </fieldset>
                </div>
                <button type="submit">Insert</button>
                <button type="reset">Cancel</button>
            </form>
        </div>
        <div id="insert-query-result">

        </div>
    </div>


    <div id="modify-data">
        <div id="modify-form" style="display: none;">
            <form id="modify-form-input">
                <fieldset>
                    <legend>Modify Queries</legend>
                    <label for="modify-song">Enter the song name you want to modify:</label>
                    <input id="modify-song" type="text">
                    <label for="modify-artist">Enter the artist name of the song you want to modify:</label>
                    <input id="modify-artist" type="text">
                </fieldset>
                <button type="submit">Submit Query</button>
                <button type="reset">Cancel</button>
            </form>
        </div>

        <div id="modify-query-result">

        </div>
    </div>

    <div id="delete-data">
        <div id="delete-form" style="display: none;">
            <form id="delete-form-input">
                <fieldset>
                    <legend>Delete</legend>
                    <label for="delete-song">Enter the song name you want to delete:</label>
                    <input id="delete-song" type="text">
                    <label for="delete-artist">Enter the artist name of the song you want to delete:</label>
                    <input id="delete-artist" type="text">
                </fieldset>
                <button type="submit">Submit Query</button>
                <button type="reset">Cancel</button>
            </form>
        </div>

        <div id="delete-query-result">

        </div>
    </div>

<script src="/static/modifydb.js"></script>
</body>
</html>